#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: true,
    draw_borders: true,
    browser_column_widths: [20, 38, 42],
    background_color: "#1e1e2e",
    modal_backdrop: true,
    text_color: "#cdd6f4",
    header_background_color: "#1e1e2e",
    modal_background_color: "#1e1e2e",
    preview_label_style: (fg: "#f38ba8"),
    preview_metadata_group_style: (fg: "#cba6f7"),
    tab_bar: (
        active_style: (fg: "#1e1e2e", bg: "#b4befe", modifiers: "Bold"),
        inactive_style: (fg: "#cdd6f4", bg: "#1e1e2e", modifiers: ""),
    ),
    highlighted_item_style: (fg: "#fab387", modifiers: "Italic"),
    current_item_style: (fg: "#1e1e2e", bg: "#b4befe", modifiers: "Bold"),
    borders_style: (fg: "#b4befe", modifiers: "Bold"),
    highlight_border_style: (fg: "#b4befe"),
    symbols: (song: "󰝚 ", dir: " ", playlist: "󰲸 ", marker: "* ", ellipsis: "..."),
    progress_bar: (
        symbols: ["█", "█", "█", "█", "█"],
        track_style: (fg: "#3b4252"),
        elapsed_style: (fg: "#b4befe"),
        thumb_style: (fg: "#b4befe"),
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (fg: "#b4befe"),
        ends_style: (fg: "#b4befe"),
        thumb_style: (fg: "#b4befe"),
    ),
    cava: (
        bar_symbols: ['▁', '▂', '▃', '▄', '▅', '▆', '▇', '█'],
        inverted_bar_symbols: ['▔', '🮂', '🮃', '▀', '🮄', '🮅', '🮆', '█'],

        bar_width: 1,
        bar_spacing: 0,

        orientation: Bottom,

        bar_color: Gradient({
            0: "rgb(203, 166, 247)",
            25: "rgb(137, 180, 250)",
            50: "rgb(180, 190, 254)",
            75: "rgb(163, 255, 254)",
            100: "rgb(138, 255, 199)",
        })
    ),
    song_table_format: [
        (
            prop: (kind: Property(Artist), style: (fg: "#b4befe"),
                default: (kind: Text("Unknown"), style: (fg: "#f38ba8"))
            ),
            width: "20%",
        ),
        (
            prop: (kind: Property(Title), style: (fg: "#cba6f7"),
                highlighted_item_style: (fg: "#cdd6f4", modifiers: "Bold"),
                default: (kind: Property(Filename), style: (fg: "#cdd6f4"),)
            ),
            width: "35%",
        ),
        (
            prop: (kind: Property(Album), style: (fg: "#b4befe"),
                default: (kind: Text("Unknown Album"), style: (fg: "#f38ba8"))
            ),
            width: "30%",
        ),
        (
            prop: (kind: Property(Duration), style: (fg: "#cba6f7"),
                default: (kind: Text("-"))
            ),
            width: "15%",
            alignment: Right,
        ),
    ],
    layout: Split(
        direction: Vertical,
        panes: [
            (
                size: "3",
                pane: Pane(Tabs),
            ),
            (
                size: "4",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (
                            size: "100%",
                            pane: Split(
                                direction: Vertical,
                                panes: [
                                    (
                                        size: "4",
                                        borders: "ALL",
                                        pane: Pane(Header),
                                    ),
                                ]
                            )
                        ),
                    ]
                ),
            ),
            (
                size: "100%",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (
                            size: "100%",
                            borders: "NONE",
                            pane: Pane(TabContent),
                        ),
                    ]
                ),
            ),
            (
                size: "3",
                borders: "TOP | BOTTOM",
                pane: Pane(ProgressBar),
            ),
        ],
    ),
    header: (
        rows: [
            (
                left: [
                    (kind: Text(""), style: (fg: "#b4befe", modifiers: "Bold")),
                    (kind: Property(Status(StateV2(playing_label: "  ", paused_label: "  ", stopped_label: "  ")))),
                    (kind: Text(" "), style: (fg: "#b4befe", modifiers: "Bold")),
                    (kind: Property(Widget(ScanStatus)))

                ],
                center: [
                    (kind: Property(Song(Title)), style: (fg: "#cdd6f4",modifiers: "Bold"),
                        default: (kind: Property(Song(Filename)), style: (fg: "#cdd6f4",modifiers: "Bold"))
                    )
                ],
                right: [
                    (kind: Text("󱡬"), style: (fg: "#b4befe", modifiers: "Bold")),
                    (kind: Property(Status(Volume)), style: (fg: "#cdd6f4", modifiers: "Bold")),
                    (kind: Text("%"), style: (fg: "#b4befe", modifiers: "Bold"))
                ]
            ),
            (
                left: [
                    (kind: Text("[ "),style: (fg: "#b4befe", modifiers: "Bold")),
                    (kind: Property(Status(Elapsed)),style: (fg: "#cdd6f4")),
                    (kind: Text(" / "),style: (fg: "#b4befe", modifiers: "Bold")),
                    (kind: Property(Status(Duration)),style: (fg: "#cdd6f4")),
                    (kind: Text(" | "),style: (fg: "#b4befe")),
                    (kind: Property(Status(Bitrate)),style: (fg: "#cdd6f4")),
                    (kind: Text(" kbps"),style: (fg: "#b4befe")),
                    (kind: Text("]"),style: (fg: "#b4befe", modifiers: "Bold"))
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "#cba6f7", modifiers: "Bold"),
                        default: (kind: Text("Unknown Artist"), style: (fg: "#cba6f7", modifiers: "Bold"))
                    ),
                    (kind: Text(" - ")),
                    (kind: Property(Song(Album)),style: (fg: "#b4befe" ),
                        default: (kind: Text("Unknown Album"), style: (fg: "#b4befe", modifiers: "Bold"))
                    )
                ],
                right: [
                    (kind: Text("[ "),style: (fg: "#b4befe")),
                    (kind: Property(Status(RepeatV2(
                                    on_label: "", off_label: "",
                                    on_style: (fg: "#cdd6f4", modifiers: "Bold"), off_style: (fg: "#4c566a", modifiers: "Bold"))))),
                    (kind: Text(" | "),style: (fg: "#b4befe")),
                    (kind: Property(Status(RandomV2(
                                    on_label: "", off_label: "",
                                    on_style: (fg: "#cdd6f4", modifiers: "Bold"), off_style: (fg: "#4c566a", modifiers: "Bold"))))),
                    (kind: Text(" | "),style: (fg: "#b4befe")),
                    (kind: Property(Status(ConsumeV2(
                                    on_label: "󰮯", off_label: "󰮯", oneshot_label: "󰮯󰇊",
                                    on_style: (fg: "#cdd6f4", modifiers: "Bold"), off_style: (fg: "#4c566a", modifiers: "Bold"))))),
                    (kind: Text(" | "),style: (fg: "#b4befe")),
                    (kind: Property(Status(SingleV2(
                                    on_label: "󰎤", off_label: "󰎦", oneshot_label: "󰇊", off_oneshot_label: "󱅊",
                                    on_style: (fg: "#cdd6f4", modifiers: "Bold"), off_style: (fg: "#4c566a", modifiers: "Bold"))))),
                    (kind: Text(" ]"),style: (fg: "#b4befe")),
                ]
            ),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                    (kind: Property(Track)),
                    (kind: Text(" ")),
                ])
        ),
        (
            kind: Group([
                    (kind: Property(Artist)),
                    (kind: Text(" - ")),
                    (kind: Property(Title)),
                ]),
            default: (kind: Property(Filename))
        ),
    ],
)