/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */

.markdown-preview.markdown-preview {
    // modify your style here
    background-color: #1e1e2e;
    font-family: "LXGW WenKai Lite", "Maple Mono NF CN";

    h1 {
        color: #f38ba8;
    }

    h2 {
        color: #fab387;
    }

    h3 {
        color: #f9e2af;
    }

    h4 {
        color: #a6e3a1;
    }

    h5 {
        color: #82aaff;
    }

    h6 {
        color: #cba6f7;
    }

    code {
        font-family: "Maple Mono NF CN";
    }

    pre {
        font-family: Maple Mono NF CN;
        font-style: italic;
        direction: ltr;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        padding: 1em;
        margin: 0.5em 0;
        overflow: auto;
        line-height: 1.5;
        tab-size: 4;
        hyphens: none;
        color: #eff;
        background-color: #181826 !important;
        border: #60667e;
        border-radius: 3px;
    }

    pre[class*="language-"] {
        padding: 1em;
    }

    code[class*="language-"] .token.cdata,
    code[class*="language-"] .token.comment,
    code[class*="language-"] .token.doctype,
    code[class*="language-"] .token.prolog,
    pre[class*="language-"] .token.cdata,
    pre[class*="language-"] .token.comment,
    pre[class*="language-"] .token.doctype,
    pre[class*="language-"] .token.prolog {
        color: #4f6875;
    }

    code[class*="language-"] .token.punctuation,
    pre[class*="language-"] .token.punctuation {
        color: #82aaff;
    }

    code[class*="language-"] .namespace,
    pre[class*="language-"] .namespace {
        opacity: 0.7;
    }

    code[class*="language-"] .token.constant,
    pre[class*="language-"] .token.constant {
        color: #f38ba8;
    }

    code[class*="language-"] .token.property,
    pre[class*="language-"] .token.property {
        color: #82aaff;
    }

    code[class*="language-"] .token.boolean,
    code[class*="language-"] .token.function-name,
    code[class*="language-"] .token.number,
    pre[class*="language-"] .token.boolean,
    pre[class*="language-"] .token.function-name,
    pre[class*="language-"] .token.number {
        color: #f78c6a;
    }

    code[class*="language-"] .token.tag,
    pre[class*="language-"] .token.tag {
        color: #f38ba8;
    }

    code[class*="language-"] .token.deleted,
    pre[class*="language-"] .token.deleted {
        color: #f38ba8;
    }

    code[class*="language-"] .token.symbol,
    pre[class*="language-"] .token.symbol {
        color: #a6e3a1;
    }

    code[class*="language-"] .token.selector,
    pre[class*="language-"] .token.selector {
        color: #f9e2af;
    }

    code[class*="language-"] .token.attr-name,
    pre[class*="language-"] .token.attr-name {
        color: #c792ea;
    }

    code[class*="language-"] .token.string,
    pre[class*="language-"] .token.string {
        color: #a6e3a1;
    }

    code[class*="language-"] .token.char,
    pre[class*="language-"] .token.char {
        color: #373b41;
    }

    code[class*="language-"] .token.builtin,
    code[class*="language-"] .token.inserted,
    pre[class*="language-"] .token.builtin,
    pre[class*="language-"] .token.inserted {
        color: #a6e3a1;
    }

    code[class*="language-"] .token.entity,
    pre[class*="language-"] .token.entity {
        color: #82aaff;
    }

    code[class*="language-"] .token.url,
    pre[class*="language-"] .token.url {
        color: #f9e2af;
    }

    code[class*="language-"] .token.operator,
    pre[class*="language-"] .token.operator {
        color: #82aaff;
    }

    code[class*="language-"] .token.atrule,
    code[class*="language-"] .token.attr-value,
    code[class*="language-"] .token.keyword,
    pre[class*="language-"] .token.atrule,
    pre[class*="language-"] .token.attr-value,
    pre[class*="language-"] .token.keyword {
        color: #c792ea;
    }

    code[class*="language-"] .token.function,
    pre[class*="language-"] .token.function {
        color: #82aaff;
    }

    code[class*="language-"] .token.class-name,
    pre[class*="language-"] .token.class-name {
        color: #f9e2af;
    }

    code[class*="language-"] .token.important,
    code[class*="language-"] .token.regex,
    code[class*="language-"] .token.variable,
    pre[class*="language-"] .token.important,
    pre[class*="language-"] .token.regex,
    pre[class*="language-"] .token.variable {
        color: #82aaff;
    }

    code[class*="language-"] .token.bold,
    code[class*="language-"] .token.important,
    pre[class*="language-"] .token.bold,
    pre[class*="language-"] .token.important {
        font-weight: 700;
    }

    code[class*="language-"] .token.italic,
    pre[class*="language-"] .token.italic {
        font-style: italic;
    }

    code[class*="language-"] .token.entity,
    pre[class*="language-"] .token.entity {
        cursor: help;
    }

    pre[data-line] {
        position: relative;
        padding: 1em 0 1em 3em;
    }

    pre[data-line] .line-highlight-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
        display: block;
        width: 100%;
    }

    pre[data-line] .line-highlight {
        position: absolute;
        left: 0;
        right: 0;
        padding: inherit 0;
        margin-top: 1em;
        background: hsla(24, 20%, 50%, 0.08);
        background: linear-gradient(to right, hsla(24, 20%, 50%, 0.1) 70%, hsla(24, 20%, 50%, 0));
        pointer-events: none;
        line-height: inherit;
        white-space: pre;
    }

    pre[data-line] .line-highlight:before,
    pre[data-line] .line-highlight[data-end]:after {
        content: attr(data-start);
        position: absolute;
        top: 0.4em;
        left: 0.6em;
        min-width: 1em;
        padding: 0 0.5em;
        background-color: hsla(24, 20%, 50%, 0.4);
        color: #f4f1ef;
        font: bold 65%/1.5 sans-serif;
        text-align: center;
        vertical-align: 0.3em;
        border-radius: 999px;
        text-shadow: none;
        box-shadow: 0 1px #fff;
    }

    pre[data-line] .line-highlight[data-end]:after {
        content: attr(data-end);
        top: auto;
        bottom: 0.4em;
    }

    // 注释number类
    // .number {
    //   align-items: center;
    //   background-color: whitesmoke;
    //   border-radius: 9999px;
    //   display: inline-flex;
    //   font-size: 1.25rem;
    //   height: 2em;
    //   justify-content: center;
    //   margin-right: 1.5rem;
    //   min-width: 2.5em;
    //   padding: 0.25rem 0.5rem;
    //   text-align: center;
    //   vertical-align: top;
    // }
    blockquote {
        border-left: 3px solid #f38ba8;
        background-color: #1e1e2e;
        color: #f4f1ef;
        padding: 1em;
        margin: 1em 0;
    }

    // 添加.message-body p
    // 用于对message-body内p标签的调整，不然会有16px的错误margin
    .message-body p {
        margin-bottom: 0;
    }

    // 同上，为了之后方便改，就不写一起了
    .message-header p {
        margin-bottom: 0;
    }
}
